{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center mb-4 text-uppercase">Login</h1>
    <form action="{{ path('app_login') }}" method="post" class="form-login">
        <label  for="username">Email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>
        <label for="password">Password:</label>
        <input  class="form-control" type="password" id="password" name="_password" required>
        <button type="submit" class="btn btn-primary">Login</button>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
</div>

{% endblock %}
    